#section2-main{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2rem;
}
.section-2-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.w4-c7{
 
    display: inline;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 3rem;
    color: #3c3b3b;
    text-align: center;
    padding-bottom: 1.5rem;
}
.w4-c7-span-head{
    background-image: linear-gradient(90deg, #53afb6 0%, #79e817 100%);
    color: rgba(0, 0, 0, 0);
    -webkit-background-clip: text;
}
.w4-c7-p{
    width: 48rem;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: center;
    padding-bottom: 3rem ;


}
.section-2-body-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10rem;
}
.w4-c7-s-b-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.8rem;

}
.w4-c7-s-b-txt{
    width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;


}
.w4-c7-s-b-txt-a{
    color: #3e3d3d;
    text-decoration: inherit;
    font-family: Montserrat, Roboto, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 1rem;

}
.w4-c7-s-b-txt-p{
    text-align: left;
    /* font-family: Roboto, sans-serif; */
    font-family: "Inter", -apple-system, BlinkMacSystemFont, segoe ui, roboto, arial, avenir next, avenir, helvetica neue, helvetica, Cantarell, Ubuntu, noto, sans-serif;
    color: #424242;
    font-size: 0.9rem;
}
.w4-c7-s-b-img-container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45rem;
    overflow: hidden;
}
.w4-c7-s-b-img{
    height: auto;
    width: 100%;
}

@media(min-width:50px) and (max-width:300px){
    .w4-c7{
        padding-left: .5rem;
        padding-right: .5rem;
        font-size: 1.5rem;
    }
    .w4-c7-p{
        padding-left: 1rem;
        padding-right: 1rem;
        width: auto;
        font-size: .8rem;
    }
    .order {
        order: 1;
    }
    .w4-c7-s-b-txt{
        
        width: auto;
    }
    .w4-c7-s-b-txt-a{
        text-align: center;
        font-size: .7rem;
    }
    .w4-c7-s-b-txt-p{
        text-align: center;
        font-size: .6rem;
    }
    .w4-c7-s-b-img-container{
        width: 15rem;
    }

}
@media(min-width:300px) and (max-width:550px){
    .w4-c7{
        padding-left: .5rem;
        padding-right: .5rem;
        font-size: 1.7rem;
    }
    .w4-c7-p{
        padding-left: 1rem;
        padding-right: 1rem;
        width: auto;
        font-size: .8rem;
    }
    .w4-c7-s-b-txt{

        width: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }
    .order {
        order: 1;
    }
    .w4-c7-s-b-txt-a{
        font-size: 1.2rem;
    }
    .w4-c7-s-b-txt-p{
        font-size: .8rem;
        text-align: center;
    }
    .w4-c7-s-b-img-container{
        width: 18.5rem;
    }

}
@media(min-width:550px) and (max-width:750px){
    .w4-c7{
        padding-left: .5rem;
        padding-right: .5rem;
        font-size: 2.3rem;
    }
    .w4-c7-p{
        padding-left: 1rem;
        padding-right: 1rem;
        width: auto;
        font-size: .8rem;
    }
    .w4-c7-s-b-txt{

        width: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }
    .order {
        order: 1;
    }
    .w4-c7-s-b-txt-a{
        font-size: 1.7rem;
    }
    .w4-c7-s-b-txt-p{
        font-size: .8rem;
        text-align: center;
    }
    .w4-c7-s-b-img-container{
        width: 30rem;
    }


    
}
@media(min-width:750px) and (max-width:950px){
    .w4-c7{
        padding-left: .5rem;
        padding-right: .5rem;
        font-size: 2.7rem;
    }
    .w4-c7-p{
        padding-left: 1rem;
        padding-right: 1rem;
        width: auto;
        font-size: .9rem;
    }
    .w4-c7-s-b-txt{

        width: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }
    .order {
        order: 1;
    }
    .w4-c7-s-b-txt-a{
        font-size: 2rem;
    }
    .w4-c7-s-b-txt-p{
        font-size: .8rem;
        text-align: center;
    }
    .w4-c7-s-b-img-container{
        width: 38rem;
    }

}
@media(min-width:950px) and (max-width:1225px){
    .w4-c7{
        padding-left: .5rem;
        padding-right: .5rem;
        font-size: 2.7rem;
    }
    .w4-c7-p{
        padding-left: 1rem;
        padding-right: 1rem;
        width: auto;
        font-size: 1rem;
    }
    .w4-c7-s-b-txt{

        width: auto;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        text-align: center;
    }
    .order {
        order: 1;
    }
    .w4-c7-s-b-txt-a{
        font-size: 2.3rem;
    }
    .w4-c7-s-b-txt-p{
        font-size: 1rem;
        text-align: center;
    }
    .w4-c7-s-b-img-container{
        width: 38rem;
    }

}