footer {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    background-color: rgb(240, 248, 255);
}
.foo-container,.devo-des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foo-container {
    padding-top: 1.5rem;
}
.devo-des{
    font-family: Roboto, sans-serif;
    gap: .3rem;
    padding-bottom: 1rem;
}
.ult {
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    gap: 2.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    

}
.ul-itm {
    flex-basis: 8rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
/* .ul-itm :hover {
    background-color: rgb(96, 134, 167);
} */
.ul-itm a {
    text-decoration: none;
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
}