footer {
    margin-top: 1rem;
    width: 100%;
    height: auto;
    background-color: rgb(240, 248, 255);
}
.foo-container,.devo-des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.devo-des{
    font-family: Roboto, sans-serif;
    gap: .3rem;
    padding-bottom: 1rem;
}
.ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}
.ul-itm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.ul-itm a {
    text-decoration: none;
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
}